<EditForm Model="Pelicula" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group">
        <label>Título:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Pelicula.Titulo"></InputText>
            <ValidationMessage For="@(() => Pelicula.Titulo)"></ValidationMessage>
        </div>
    </div>
    <div class="form-inline">
        <label>En Cartelera: </label>
        <div>
            <InputCheckbox @bind-Value="@Pelicula.EnCartelera"></InputCheckbox>
            <ValidationMessage For="@(() => Pelicula.EnCartelera)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label>Trailer:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Pelicula.Trailer"></InputText>
            <ValidationMessage For="@(() => Pelicula.Trailer)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label>Fecha de Lanzamiento:</label>
        <div>
            <InputDate class="form-control" @bind-Value="@Pelicula.Lanzamiento"></InputDate>
            <ValidationMessage For="@(() => Pelicula.Lanzamiento)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group form-markdown">
        <InputMarkdown @bind-Value="@Pelicula.Resumen"
                       For="@(() => Pelicula.Resumen)"
                       Label="Resumen"></InputMarkdown>

    </div>

    <div class="form-group">
        <InputImg Label="Foto" ImagenSeleccionada="ImagenSeleccinada" ImagenURL="@imagenURL"></InputImg>
    </div>

    <div class="form-group">
        <label>Género:</label>
        <div>
            <SelectorMultiple Seleccionados="Seleccionados" NoSeleccionados="NoSeleccionados"></SelectorMultiple>
        </div>
    </div>

    <div class="form-group">
        <label>Actores:</label>
        <div>
            <SelectorMultipleTypeahead Context="persona" SearchMethod="BuscarActores" ElementosSeleccionados="ActoresSeleccionados">
                <MyListTemplate>
                    @persona.Nombre
                </MyListTemplate>
                <MyResultTemplate>
                    <img  style="width:50px;" src="@persona.Foto"/>
                    @persona.Nombre
                </MyResultTemplate>
            </SelectorMultipleTypeahead>
        </div>
    </div>

    <button class="btn btn-success mb-2" type="submit">Guardar Cambios</button>

</EditForm>

@code {

    [Parameter] public Pelicula Pelicula { get; set; }

    [Parameter] public EventCallback OnValidSubmit { get; set; }

    [Parameter] public List<Genero> GenerosSeleccionados { get; set; }

    [Parameter] public List<Genero> GenerosNoSeleccionados { get; set; }

    [Parameter] public List<Persona> ActoresSeleccionados { get; set; } = new List<Persona>();


    public List<SelectorMultipleModel> Seleccionados { get; set; } = new List<SelectorMultipleModel>();
    public List<SelectorMultipleModel> NoSeleccionados { get; set; } = new List<SelectorMultipleModel>();

    string imagenURL;

    protected override void OnInitialized()
    {
        Seleccionados = GenerosSeleccionados.Select(g => new SelectorMultipleModel(g.Id.ToString(), g.Nombre)).ToList();
        NoSeleccionados = GenerosNoSeleccionados.Select(g => new SelectorMultipleModel(g.Id.ToString(), g.Nombre)).ToList();

        if (!string.IsNullOrWhiteSpace(Pelicula.Poster))
        {
            imagenURL = Pelicula.Poster;
            Pelicula.Poster = null;
        }

        base.OnInitialized();
    }

    private void ImagenSeleccinada(string imagenBAse4)
    {
        Pelicula.Poster = imagenBAse4;
        imagenURL = null;
    }

    private async Task<IEnumerable<Persona>> BuscarActores(string searchText)
    {
        return new  List<Persona>
        {
            new Persona(){ Id = 1, Nombre = "Emilio Barrera", Foto = "https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/139360113_10157680895863239_3550246272254554940_o.jpg?_nc_cat=100&ccb=2&_nc_sid=0debeb&_nc_ohc=VAzCQMTxA0AAX-6VX2A&_nc_ht=scontent-lht6-1.xx&oh=59c496434b78be3309015aabd538d9c3&oe=6027C7E4" },
            new Persona{ Id = 2, Nombre = "Tom Holland", Foto = "https://m.media-amazon.com/images/M/MV5BMTQ2MjMwNDA3Nl5BMl5BanBnXkFtZTcwMTA2NDY3NQ@@._V1_UY317_CR2,0,214,317_AL_.jpg" },
        };
    }

}
